@import "../../../styles/variables.scss";

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    .form-container {
        padding: 32px 16px;
        box-sizing: border-box;
        max-width: 520px;
        width: 100%;
        border-radius: 6px;
        background-color: $containerBackgroundColor;
        .submit-button {
            width: 100%;
        }
        .submit-button:disabled {
            cursor: not-allowed;
        }
    }
}